.card {
        float:left; 
        margin: 1%;
    background-color: darksalmon;
    width: 250px;
    height: 250px;
    border-radius: 30px;
  }
  .card1 {
    float:left; 
    margin: 1%;
    background-color: aqua;
    width: 250px;
    height: 250px;
    border-radius: 30px;
  }
  .card2 {
    float:left; 
    margin: 1%;
    background-color: chartreuse;
    width: 250px;
    height: 250px;
    border-radius: 30px;
  }